{% extends "base.html" %}
{% load staticfiles %}

{% block eq %}
<div class="eq" style="background-image: url('{% static "EverquestImage.jpg"%}')">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 eqmodule">
				<h1 class="text-center"> DPS </h1>
				Create Modal Boxes
				<br>
				Learn to use database
				<br>
				start displaying information in these boxes
			</div>
			<div class="col-sm-5 eqmodule">
				<h1 class="text-center"> Total DMG </h1>
				Create Modal Boxes
				<br>
				Learn to use database
				<br>
				start displaying information in these boxes
			</div>
			<div class="col-sm-3 eqmodule">
				<h1 class="text-center"> Coin </h1>
				Create Modal Boxes
				<br>
				Learn to use database
				<br>
				start displaying information in these boxes
			</div>
			<div class="col-sm-3 eqmodule">
				<h1 class="text-center"> Coin </h1>
				Create Modal Boxes
				<br>
				Learn to use database
				<br>
				start displaying information in these boxes
			</div>	
			<div class="col-sm-3 eqmodule">
				<h1 class="text-center"> Coin </h1>
				Create Modal Boxes
				<br>
				Learn to use database
				<br>
				start displaying information in these boxes
			</div>
		</div>
	</div>
</div>
{% endblock %}
