{% extends "base.html" %}
{% load staticfiles %}

{% block eq %}
<div class="eq" style="background-image: url('{% static "EverquestImage.jpg"%}')">
	<div class="container">
			<div class="eq-col-4 eqmodule height2x">
				<h1 class="text-center"> DPS </h1>
				Large text - maybe a cool Meter
			</div>
			<div class="eq-col-4 eqmodule">
				<h1 class="text-center"> Total DMG </h1>
				For today
				<br>
				Overall DPS
				<br>
				Spell damage
				Melee damage
			</div>
			<div class="eq-col-4 eqmodule">
				<h1 class="text-center"> Coin </h1>
				Platinum <br>
				Gold <br>
				Silver <br>
				Copper <br>
			</div>
			<div class="eq-col-3 eqmodule">
				<h1 class="text-center"> Average damage </h1>
				Create Modal Boxes
				<br>
				Learn to use database
				<br>
				start displaying information in these boxes
			</div>	
			<div class="eq-col-3 eqmodule">
				<h1 class="text-center"> Highest hit </h1>
				Create Modal Boxes
				<br>
				Learn to use database
				<br>
				start displaying information in these boxes
			</div>
			<div class="eq-col-2 eqmodule">
				<h1 class="text-center"> Highest hit </h1>
				Create Modal Boxes
				<br>
				Learn to use database
				<br>
				start displaying information in these boxes
			</div>
			<div class="eq-col-2 eqmodule">
				<h1 class="text-center"> Highest hit </h1>
				Create Modal Boxes
				<br>
				Learn to use database
				<br>
				start displaying information in these boxes
			</div>
			<div class="eq-col-4 eqmodule">
				<h1 class="text-center"> Highest hit </h1>
				Create Modal Boxes
				<br>
				Learn to use database
				<br>
				start displaying information in these boxes
			</div>	
			<div class="eq-col-2 eqmodule">
				<h1 class="text-center"> Coin </h1>
				Create Modal Boxes
				<br>
				Learn to use database
				<br>
				start displaying information in these boxes
			</div>

		</div>
	</div>
</div>
{% endblock %}
