{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron text-center"  style="background-image: url('{% static "universe-1622107_1920.jpg"%}')">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Toolbox of Personal Python Projects</h1>
    <p>This is a set of home/fun projects I am working on.</p>
    <a type="button" class="btn btn-lg btn-default" href="/eqparse/"><span class="fas fa-chart-pie"></span> EQParse</a>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="fas fa-bullseye"></span> Button to NoWhere</a>
  </div>
</div>
<div class="container">
  <h1 class="text-center">Updates and Info</h1>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="fas fa-globe"></span> Current Projects</h3>
      <ul>
        <li>Project 1999 Parsing Project.</li>
        <li>Magic Mirror.</li>
      </ul>
      <h3><span class="fas fa-book"></span> Captain's Log</h3>
      <li>06/18/2018 - Set up the basic layout for the ToolBox home page.</li>
      <li>06/19/2018 - Started working on the database, downloaded PostgreSQL Locally Created a basic Log table</li>
      <li>06/28/2019 - Attempted to create a PostgresQL Database... failed miserably... so I created the EQParse App instead</li>
      <li>06/29/2018 - Added background image to EQParse page, created a CSS file
    </div>
    <div class="col-md-6">
      <h3><span class="fas fa-space-shuttle"></span> Next Steps</h3>
      <ul>
        <li>EQ 1999 Parsing</li>
        <ul>
          <li>Log Drop File Location</li>
          <li>Parse File</li>
          <li>Database</li>
        </ul>
        <li>Magic Mirror</li>
        <ul>
          <li>Convert from React to Python/Django</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://www.heroku.com/home">Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
    <hr>
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
</div>
{% endblock %}
